/* Main Content */

body {background: $bodyBkgImage;}

#wrapper {background: white; float: left; border: $topBarListBorder; padding: 20px; margin-top: -1px; border-radius: 0 0 10px 10px; margin-bottom: $navBarHeight;
}