/* Main Content */

body {background: $bodyBkgImage;}

#wrapper {background: white; float: left; border-top: $topBarListBorder; border-left: $topBarListBorder; border-right: $topBarListBorder; padding: 20px; margin-top: -1px;
}