/* Main Content */

body {background: $bodyBkgImage;}

#wrapper {background: white; float: left; margin-top: -1px; border-left: $topBarListBorder; border-right: $topBarListBorder; border-bottom: $topBarListBorder; padding: 20px; border-radius: 0 0 10px 10px; margin-bottom: $navBarHeight;
}