@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

// Media Queries

   $screenSmall: 768px !default;
   $screenMedium: 1279px !default;
   $screenXlarge: 1441px !default;

// Padding Settings

   $paddingTen: 10px;

// Colors Settings

   $mainColor: #a02741;
   $mainColorRBGA: rgba(59, 180, 255, 0.2);
   $secondaryColor: #031d40;
   $standardAlertColor: #f0f8ff;
   $standardAlertTextColor: #3A87AD;
   $alertColor: #f3656a;
   $alertTextColor: #66080b;
   $secondaryAlertColor:#ffd748;
   $secondaryAlertTextColor:#846800;
   $successColor: #DFF0D8;
   $successTextColor: #468847;
   $txtColor: #333333;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
   $lightGrey: #f2f2f2;
   $midLightGrey: #e5e5e5;
   $midGrey: #a0a0a0;
   $grey: #cccccc;
   $darkGrey: #474747;
   $fieldBorderColor: #dddddd;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Font Settings

// $fontSmoothing: antialiased;
   $headerFontFamily: "PT Sans Narrow", "Helvetica", Helvetica, Arial, sans-serif;
   $headerFontWeight: normal;

// Text Direction Settings

// $textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Button Settings

// $buttonRadius: 3px;
   $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
   $largeBtnBase: $btnBase + 3;

// Form Settings

// $formSpacing: 12px;
// $labelFontWeight: 500;
// $labelFontColor: lighten(#000, 30%);
   $labelBtmMargin: 5px;
// $inputFontColor: rgba(0,0,0,0.75);
// $inputFontSize: 14px;
// $inputBgColor: #fff;
// $inputFocusBgColor: darken(#fff, 2%);
// $inputBorderColor: darken(#fff, 20%);
// $inputFocusBorderColor: darken(#fff, 30%);
// $inputBorderStyle: solid;
// $inputBorderWidth: 1px;
// $inputBorderRadius: 2px;
// $fieldsetBorderRadius: 3px;

// Custom Form Settings

// $custFormBorderColor: #002d62;
// $custFormBgColor: #fff;
// $custCheckColor: #222;
// $custSelectCurrentFontColor: #141414;
// $custSelectBgColor: #fff;
// $custSelectBorderColor: #ddd;
// $custSelectTriangleColor: #aaa;
// $custSelectTriangleColorOpen: #222;
// $custSelectDropHeight: 200px;
// $custDropdownBgColor: #fff;
// $custDropdownBorderColor: darken(#fff, 20%);
// $custDropdownFontColor: #555;
   $custDropdownSelectedBgColor: lighten(#ccc, 40%);
// $custDropdownSelectedFontColor: #000;
// $custFormDisabledBgColor: #ddd;

// Tab Settings

// $tabHeight: 40px;
// $tabTermFontSize: 12px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// Top Bar Settings

// $topBarBgColor: #222;
   $topBarHeight: 35px;
// $topBarHeightMobile: 45px;
   $topBarBtmMargin: 0px;
// $topBarTitleWeight: bold;
// $topBarTitleSize: 17px;
// $topBarLinkColor: #fff;
// $topBarLinkWeight: bold;
// $topBarLinkSize: 13px;
// $topBarDropBgColor: #222;
// $topBarDropLinkColor: #fff;
// $topBarDropToggleSize: 5px;
// $topBarDropToggleColor: #fff;
// $topBarDropToggleAlpha: 0.5;
// $topBarSearchWidth: 200px;
   $topBarBreakPoint: $screenSmall; // Change to 9999px for always mobile layout
// $topBarNavToggleSize: 8px;
