<div class="rates-block">
	<div class="row">
		<h3>Ready to take advantage of our competitive rates? <a href="getstarted.html"> Get Started</a>.</h3>
	</div>
</div>
<div class="row">
	<div class="six columns row end">
		<div class="six columns">
			<h5>
				<a href="products-and-services.html">Products and Services</a>
			</h5>
			<ul>
				{% for item in site.pages %}
					{% if item.group == 'products_services' %}
						<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			<h5>
				<a href="industrystandards.html">Industry Standards</a>
			</h5>
			<h5>
				<a href="getstarted.html">Get Started</a>
			</h5>
			<ul>
				{% for item in site.pages %}
					{% if item.group == 'get_started' %}
						<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="six columns">
			<h5>
				<a href="business-solutions.html">Business Solutions</a>
			</h5>
			<ul>
				{% for item in site.pages %}
					{% if item.group == 'business_solutions' %}
						<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="six columns">
		<div class="three right">
			<img class="pci-logo" src="assets/images/PCIlogo.png" />
		</div>
	</div>
</div>
<div class="contact-block">
	<div class="row">
		<div class="ten columns">
			<img src="assets/images/help-2-icon.png" class="left columns">
			<div class="columns end">
				<h3>Questions about an Application? <a href="mailto:info@26fin.com">Contact Us.</a></h3>
				<p><a href="mailto:info@26fin.com">Send us an Email</a></p>
			</div>
		</div>
	</div>
</div>
