<div class="pricing-list-wrapper">
  <ul class="tabs-content">
    <li class="active" id="pricExTab">
      <div class="row">
        <div class="three columns special-column">
          <ul class="exchange-info pricing-table">
            <li class="title">TwoSix Financial Pricing:</li>
            <li class="price">Any card swiped:</li>
            <li class="price">Keyed in number:</li>
            <li class="bullet-item">Activation:</li>
            <li class="bullet-item">Annual Fee:</li>
            <li class="bullet-item">Monthly Fee:</li>
            <li class="bullet-item">Gateway Fee:</li>
            <li class="bullet-item">Chargeback Fee:</li>
            <li class="bullet-item">Refund Fee:</li>
            <li class="bullet-item">How Much Can I Accept?</li>
          </ul>
        </div>
        <div class="four columns">
          <ul class="pricing-table">
            <li class="title">One Price Per Swipe</li>
            <li class="price">2.695% per transaction</li>
            <li class="price">3.49% + 15¢</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="cta-button"><a href="http://allplayers.aws.af.cm/login?key=6J9ZfjkKtHpZaEDtedFuyRALg7EgXWdJ&secret=Not9c4W9tF7HecADgoGuGwZqUQyJi3jo" class="button" target="_blank">Apply Now</a></li>
          </ul>
        </div>
        <div class="four columns">
          <ul class="pricing-table">
            <li class="title">Enterprise Organizations</li>
            <li class="price">Interchange + 1%</li>
            <li class="price">Interchange + 1%</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$25 + $0.25/transaction</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">$0</li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="cta-button"><a href="http://allplayers.aws.af.cm/login?key=M8pnVkET66V5yFGGLEdbU3J9ADatypHk&secret=6XesAnWRqyBc4aJi4nSpWQ6FbfFfdcvZ" class="button" target="_blank">Apply Now</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="subnote"><em>*Merchants who process less than $2500 in monthly volume will be subject to a $25 Account Maintenance Fee.</em></div>