<div class="pricing-list-wrapper">
  <ul class="tabs-content">
    <li class="active" id="pricExTab">
      <div class="row">
        <div class="three columns special-column">
          <ul class="exchange-info pricing-table">
            <li class="title">TwoSix Financial Pricing:</li>
            <li class="price">Swiped Card Rate:</li>
            <li class="price">Keyed-in transaction Rate:</li>
            <li class="price">Fixed per/transaction Fee:</li>
            <li class="bullet-item">Activation:</li>
            <li class="bullet-item">Annual Fee:</li>
            <li class="bullet-item">Monthly Fee:</li>
            <li class="bullet-item">Gateway Fee:</li>
            <li class="bullet-item">Chargeback Fee:</li>
            <li class="bullet-item">Refund Fee:</li>
            <li class="bullet-item">Account Maintenance Fee:</li>
            <li class="bullet-item">Maximum Transaction Amount:</li>
            <li class="bullet-item">Maximum Monthly Volume:</li>
          </ul>
        </div>
        <div class="three columns">
          <ul class="pricing-table">
            <li class="title">One Price per Swipe Model</li>
            <li class="price">2.695%<sup>(a)</sup></li>
            <li class="price">3.495%</li>
            <li class="price">15¢</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None<sup>(b)</sup></li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="cta-button"><a href="apply.html?price-option=swipe" class="button">Apply Now</a></li>
          </ul>
        </div>
        <div class="three columns end">
          <ul class="pricing-table">
            <li class="title">Interchange Plus Model</li>
            <li class="price">Interchange + 2%</li>
            <li class="price">Interchange + 2%</li>
            <li class="price">15¢</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None<sup>(b)</sup></li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="bullet-item">UNLIMITED</li>
            <li class="cta-button"><a href="apply.html?price-option=enterprise" class="button">Apply Now</a></li>
          </ul>
        </div>
        <div class="three columns end">
          <ul class="pricing-table">
            <li class="title">E Check Model</li>
            <li class="price">N/A</li>
            <li class="price">2.00%</li>
            <li class="price">28¢</li>
            <li class="bullet-item">$55</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">$12</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">$5</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">None</li>
            <li class="bullet-item">Limited</li>
            <li class="bullet-item">Limited</li>
            <li class="cta-button">← Apply with CC Application</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
