<div id="featuredContent">
  <div class="featured-content-layout1">
    <img class="slideshow-image" src="assets/images/slideshow_images/small_credit_card.jpg" />
    <div class="slideshow-content">
      <div class="text-wrapper">
        <h3>Get Started</h3>
        <h4>Get started now and on your way to flat fee merchant services</h4>
      </div>
      <div class="feature-wrapper">
        <p><a href="/getstarted.html" class="button" target="_blank">Get Started Now!</a></p>
      </div>
    </div>
  </div>
  <div class="featured-content-layout2">
    <img class="left slideshow-image" src="assets/images/slideshow_images/small_credit_card_on_keys.jpg" />
    <div class="left slideshow-content">
      <div class="text-wrapper">
        <h3>2.695% per swipe </h3>
        <h4>Lowest transaction fee anywhere!</h4>
      </div>
      <div class="feature-wrapper">
        <p><a href="/getstarted.html" class="button" target="_blank">Learn More!</a></p>
      </div>
    </div>
  </div>
  <div class="featured-content-layout1">
    <img class="left slideshow-image" src="assets/images/slideshow_images/magglass.jpg" />
    <div class="left slideshow-content">
      <div class="feature-wrapper">
        <h3>No Hidden Fees</h3>
        <h4>No hidden monthly fees, no setup fees, no surprises!</h4>
      </div>
    </div>
  </div>
  <div class="featured-content-layout2">
    <img class="left slideshow-image" src="assets/images/slideshow_images/family.jpg" />
    <div class="left slideshow-content">
      <div class="text-wrapper">
        <h3>Business Solutions</h3>
        <h4>We meet the unique needs of:</h4>
      </div>
      <p>
        <ul>
          <li>Sports Clubs and Leagues</li>
          <li>Family-focused international organizations</li>
          <li>Non-profit organizations</li>
          <li>Community Parks and Recreation </li>
          <li>Online retailers</li>
        </ul>
      </p>
    </div>
  </div>
</div>