<div id="featuredContent">
  <div>
    <img class="left slideshow-image" src="assets/images/slideshow_images/small_credit_card.jpg" />
    <div class="left slideshow-content">
      <div class="text-wrapper">
        <h3>Get Started</h3>
        <h4>Get started now and on your way to flat fee merchant services</h4>
      </div>
      <div class="button-wrapper">
        <p><a href="/getstarted.html" class="button" target="_blank">Get Started Now!</a></p>
      </div>
    </div>
  </div>
  <div>
    <img class="left slideshow-image" src="assets/images/slideshow_images/small_credit_card_on_keys.jpg" />
    <div class="left slideshow-content">
      <div class="text-wrapper">
        <h3>2.695% per swipe </h3>
        <h4>Lowest transaction fee anywhere!</h4>
      </div>
      <div class="button-wrapper">
        <p><a href="/getstarted.html" class="button" target="_blank">Learn More!</a></p>
      </div>
    </div>
  </div>
</div>
