<!DOCTYPE html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{{ page.title }}</title>
    {% include styles.html %}
<!-- [JS Files] -->
    {% include scripts.html %}

  </head>
  <body style="padding-top: 50px;">
    <header>
      {% include nav.html %}
    </header>
    {% if page.slideshow %}
      <section id="feature-hero-wrapper">
        <div class="light-color-overlay">
          <div class="row">
            {% include slider.html %}
          </div>
        </div>
      </section>
    {% endif %}
    {% if page.title-page == null %}
      <section id="feature-hero-wrapper">
        <div class="light-color-overlay">
          <div class="row">
            <img src="assets/images/{{ page.special_image }}" class="one columns">
            <h2 class="white eleven columns section-title">{{ page.title }}</h2>
          </div>
        </div>
      </section>
    {% endif %}
    <div class="row">
      <section id="main_content_wrapper"{% if page.two_col %} class="nine columns push-three" {% else %} class="twelve columns"{% endif %}>
          {{ content }}
      </section>
      {% if page.two_col %}
        {% include sidebar1.html %}
      {% endif %}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
